/* 基本のフォント */
body {
    font-family: Arial, sans-serif;
}

.goal-time-container {
    width: 1190px;
    margin: 40px auto;
}

h1 {
    width: 180px;
}

h1 a {
    text-decoration: none;
    color: rgb(176, 175, 175);
    font-size: 40px;
}

h1 span {
    margin: 0 14px;
    /* 6月と<>の間に空白を入れる */
}

.time {
    width: 200px;
    background-color: aqua;
    padding: 2px;
    border: 1px solid black;
}

.goal {
    width: 680px;
    background-color: lightyellow;
}

.goal td,
.time td {
    font-size: 30px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
}

.container {
    width: 1190px;
    margin: 40px auto;
    flex-direction: row-reverse;
    /* 横並びに設定 */
    gap: 40px;
}

input {
    height: 65px;
    font-size: 30px;
    width: 90%;
}

/* カレンダー部分 */
.calendar {
    width: 1000px;
}

.calendar th {
    border: 1px solid black;
    text-align: center; /* テキストを中央揃え */
    height: 80px; /* 適宜調整してください */
    padding: 5px;
    width: 14.28%;
    box-sizing: border-box;
    overflow: hidden;
    height: 30px;
}

.calendar td {
    transition: opacity 0.3s ease; /* アニメーション効果を追加 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 影の設定 */
}

.calendar td:hover {
    opacity: 0.7; /* ホバー時の透明度 */
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* ホバー時の影の設定 */
}

.container {
    top: 5px;
    left: 5px;
    font-size: 17px;
    color: black;
    text-align: left
}


.calendar .today {
    background: orange !important;
}

.calendar th:nth-of-type(1),
.calendar td:nth-of-type(1) {
    color: red;
}

.calendar th:nth-of-type(7),
.calendar td:nth-of-type(7) {
    color: blue;
}

.calendar td span.disabled {
    opacity: .3;
}

.event {
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    white-space: nowrap;
    /* テキストを一行に収める */
    text-overflow: ellipsis;
    /* 省略記号を表示 */
    overflow: hidden;
    /* テキストが溢れた場合非表示に */
}

.side-table {
    width: 150px;
    border-collapse: collapse;
}

.side-table th,
.side-table td {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
}

.week_total {
    font-size: 30px;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input {
    height: 65px;
    font-size: 30px;
    width: 90%;
}
