/* style.css */

.new-tag {
  display: none;
  margin-top: 5px;
  width: 100%;
}

#deleteButton {
  display: none;
}

.btn1 {
  width: 700px;
  margin: 30px auto;
  text-align: left;
}

.inner {
  width: 1000px;
  margin: 50px auto;
}

h1 {
  width: 442.39px;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* テキストと次の要素の間にスペースを配置 */
  margin: 20px auto;
}

ul li>*:first-child {
  margin-left: 30px;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
}

.tag-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tagForm {
  text-align: right;
  width: 300px;
}

#tagSelect {
  display: block;
  /* ブロック要素として表示 */
  margin-left: auto;
  /* 左マージンを自動にして右寄せ */
  margin-right: 0;
  width: 100px;
  height: 50px;
  text-align-last: center;
}

textarea {
  width: 300px;
  height: 80px;
}

.score-item {
  display: flex;
  align-items: center;
}

.score {
  display: flex;
  align-items: center;
  gap: 10px;
  /* 各ラジオボタンの間に空白を追加 */
  margin-left: 10px;
}

.score div {
  display: flex;
  align-items: center;
}

/* ↓を新規追加 */
.score div+div {
  margin-left: 10px;
}

li .score div label {
  margin-left: 5px;
  /* ラジオボタンとラベルの間の余白 */
}

.btn2 {
  width: 700px;
  margin: 30px auto;
  text-align: right;
}
