/* リセットCSS - Eric MeyerのリセットCSSを基に */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* オリジナルCSS */
body {
    font-family: Arial, sans-serif;
}

.container {
    margin-left: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.goal-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.goal, .time {
    border: 1px solid black;
    text-align: center;
}

.time {
    width: 20%;
    background-color: aqua;
}

.goal {
    width: 70%;
    background-color: lightyellow;
}

.goal td, .time td {
    font-size: 30px;
    height: 120px;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

h1 a {
    text-decoration: none;
    color: black;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    position: relative;
}

.date-number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: black;
}

.calendar th {
    height: 30px;
}



.calendar th:nth-of-type(1), .calendar td:nth-of-type(1) {
    color: red;
}

.calendar th:nth-of-type(7), .calendar td:nth-of-type(7) {
    color: blue;
}
