/* 基本のフォント */
body {
    font-family: Arial, sans-serif;
}

.goal-time-container {
    width: 1190px;
    margin: 40px auto;
}

h1 {
    width: 150px;
}

h1 a {
    text-decoration: none;
    color: rgb(176, 175, 175);
    font-size: 40px;
}

h1 span {
    margin: 0 14px;
    /* 6月と<>の間に空白を入れる */
}

.time {
    width: 200px;
    background-color: aqua;
    padding: 2px;
    border: 1px solid black;
}

.goal {
    width: 680px;
    background-color: lightyellow;
}

.goal td,
.time td {
    font-size: 30px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
}

.container {
    width: 1190px;
    margin: 40px auto;
    flex-direction: row-reverse;
    /* 横並びに設定 */
    gap: 40px;
}

input {
    height: 65px;
    font-size: 30px;
    width: 90%;
}


/* カレンダー部分 */
.calendar {
    width: 1000px;
}

.calendar th,
.calendar td {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    position: relative;
    vertical-align: top;
    padding: 5px;
    width: 14.28%;
    /* 7列で均等に */
    box-sizing: border-box;
    /* パディングを含める */
    overflow: hidden;
    /* テキストが溢れた場合非表示に */
}

.date-number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 17px;
    color: black;
}

.calendar th {
    height: 30px;
}

.calendar .today {
    background: orange !important;
}

.calendar th:nth-of-type(1),
.calendar td:nth-of-type(1) {
    color: red;
}

.calendar th:nth-of-type(7),
.calendar td:nth-of-type(7) {
    color: blue;
}

.calendar td span.disabled {
    opacity: .3;
}

.event {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    white-space: nowrap;
    /* テキストを一行に収める */
    text-overflow: ellipsis;
    /* 省略記号を表示 */
    overflow: hidden;
    /* テキストが溢れた場合非表示に */
}

.side-table {
    width: 150px;
    border-collapse: collapse;
}

.side-table th,
.side-table td {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    position: relative;
    vertical-align: top;
    padding: 5px;
    width: 100%;
    /* これを追加して幅を100%にする */
    box-sizing: border-box;
    /* パディングを含める */
    overflow: hidden;
    /* テキストが溢れた場合非表示に */
    display: block;
    /* これを追加してブロック表示にする */
}

.week_total {
    font-size: 30px;
    color: black;
    white-space: nowrap;
    /* テキストを一行に収める */
    text-overflow: ellipsis;
    /* 省略記号を表示 */
    overflow: hidden;
    /* テキストが溢れた場合非表示に */
    display: flex;
    /* フレックスボックスを使用 */
    align-items: center;
    /* 縦方向の中央揃え */
    justify-content: center;
    /* 水平方向の中央揃え */
    height: 100%;
    /* 親要素の高さを満たす */
}

input {
    height: 65px;
    font-size: 30px;
    width: 90%;
}
