body {
    font-family: Arial, sans-serif;
}

.month {
    margin-right: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;; /* 横並びに設定 */
}

.goal-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    justify-content: center;
}

.goal, .time {
    border: 1px solid black;
    text-align: center;
}

.time {
    width: 20%;
    background-color: aqua;
    padding: 2px; 
}

.goal {
    width: 70%; /* goalと合計で90%になるよう調整 */
    background-color: lightyellow;
}

.goal td, .time td {
    font-size: 30px;
    height: 120px; /* セルの高さ*/
    text-align: center; /* テキストを中央揃え */
    vertical-align: middle; /* 垂直方向の中央揃え */
}



.h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 10px;
}

h1 a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.calendar {
    width: 75%; /* カレンダーの幅を75%に設定 */
    border-collapse: collapse;
    margin-right: 24px;
}

.calendar th, .calendar td {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    position: relative;
    vertical-align: top;
    padding: 5px;
    width: 14.28%; /* 7列で均等に */
    box-sizing: border-box; /* パディングを含める */
    overflow: hidden; /* テキストが溢れた場合非表示に */
}

.date-number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 17px;
    color: black;
}

.calendar th {
    height: 30px;
}

.calendar .today {
    background: orange !important;
}

.calendar th:nth-of-type(1), .calendar td:nth-of-type(1) {
    color: red;
}

.calendar th:nth-of-type(7), .calendar td:nth-of-type(7) {
    color: blue;
}

.event {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    white-space: nowrap; /* テキストを一行に収める */
    text-overflow: ellipsis; /* 省略記号を表示 */
    overflow: hidden; /* テキストが溢れた場合非表示に */
    }
    
    

.main-content {
    width: 80%;
}

.side {
    width: 20%;
    margin-right: 5%; /* カレンダーとの間にスペースを追加 */
    margin-top: 30px;
}

.side-table {
    width: 100%;
    border-collapse: collapse;

}

.side-table th, .side-table td {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    position: relative;
    vertical-align: top;
    padding: 5px;
    width: 60%;
    box-sizing: border-box; /* パディングを含める */
    overflow: hidden; /* テキストが溢れた場合非表示に */
    display: block;
    margin-left: 100px;
}


.side-table th {
    height: 30px;
}

.side-table .today {
    background: orange !important;
}

.side-table th:nth-of-type(1), .side-table td:nth-of-type(1) {
    color: red;
}

.side-table th:nth-of-type(7), .side-table td:nth-of-type(7) {
    color: blue;
}

.week_total {
    font-size: 30px;
    color: black;
    white-space: nowrap; /* テキストを一行に収める */
    text-overflow: ellipsis; /* 省略記号を表示 */
    overflow: hidden; /* テキストが溢れた場合非表示に */
    display: flex; /* フレックスボックスを使用 */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    height: 100%; /* 親要素の高さを満たす */
}

input {
    height: 65px;
    font-size: 30px;
    width: 90%;
}